@import '../../styles/colors';

.h2 {
  text-align: center;
  position: relative;
  margin: 1em 0;

  &:before {
    content: '';
    height: 1px;
    background: $gray-light;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
  }

  h2 {
    background: white;
    display: inline;
    position: relative;
    z-index: 1;
    padding: 0 15px;
  }
}
