// Layers
// ------
//
// All values set to the z-index property should come from this file.
// Keep in order from highest to lowest
$layer-header: 201;
$layer-menu: 200;
$layer-slider: 100;
$layer-h2: 1;
