@import 'styles/colors.scss';
@import 'styles/sizes.scss';
@import 'styles/layers.scss';

.header {
  position: absolute;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $layer-header;
  background: $color-dark-background;

  &.header--menu-open {
    position: fixed;
  }

  img {
    height: 60px;
  }
}

.header__wrapper {
  height: $header-height;
  display: flex;
}
