@import 'styles/breakpoints';
@import 'styles/colors';
@import 'styles/typography';

.content {
  margin: 26px 0px 62px;
}

.content {
  .inner {
    margin: 0 auto;
    max-width: 660px;
    padding: 0px 42px;
  }

  &.dark {
    background-color: $navy-100;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
    }

    .inner {
      padding: 22px 42px;
    }
  }
}

#footer {
  min-height: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
