@import '../../styles/colors';
@import '../../styles/layers';

$slide-height: 380px;
$image-height: $slide-height * 0.25;

.slick-slider {
  .slick-slide {
    div {
      outline: 0;
    }
  }

  .slick-arrow {
    display: none !important;
  }
}

.bw-slide {
  background: white;
  box-shadow: 0 0 16px 4px rgba(black, 0.15);
  border-radius: 10px;
  margin: 16px 10px;
  height: $slide-height;
  overflow: hidden;

  &__image {
    width: 100%;
    height: $image-height;
    background-size: cover;
    background-position: center;
  }

  &__content {
    $margin: 20px;
    margin: 20px;
    height: calc(100% - #{$image-height + ($margin * 2)});

    &--no-image {
      height: calc(100% - #{$margin * 2});
    }
  }

  &__scrollable {
    height: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    line-height: 1.4em;
  }

  &__donation {
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-align: right;
  }

  h3 {
    font-size: 14px;
    color: $gray-600;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
  }

  h4 {
    font-size: 28px;
    color: $navy-100;
    line-height: 34px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 13px;
    line-height: 1.5em;
    color: $gray-600;
  }
}

.donor-categories {
  padding: 15px 20px;
}
